.container{
	width=100%;
	margin: auto;
	align-self:center;
}
.clear{
	clear:both;
}
.text{
	float: left;

	}
.head .text h3{
	color: purple;
	margin-top:10px;
	padding-left: 100px;

}
.head .box a{
	float:right;
	margin-top: 10px;
	padding-right: 100px;
}
.banner{
	height: auto;
}
.banner .image img{
	background:cover;
	height:500px;
	width:100%;
	z-index: 1;
}
.banner text h3{
	z-index: 2;
}
.cities{
	background-color: purple;
	text-align: center;
	color: white;
	height: 100px;
}
.contact{
	background-color: purple;
	height: 100px;
	width: 100%;
	color: white;
	text-align: center;

}
.contact a{
	color: white;
}